
<div class="container">


<div id="comments_section">
<!-- <form id="commentlink" action="/posts/<%=@the_post.id%>/comments/new">
    <input type="submit" value="Add a comment">
</form> -->
 <a id="commentlink" href="/posts/<%=@the_post.id%>/comments/new">Add a comment</a>

<div id="all_comments">
  <% @the_post.comments.each do |c| %>
  <p> "<%= c.description %>"
  <div class="comment_author_detail">
  By: <%= c.user.first_name %> | Last updated: <%= c.updated_at %>
  </div>
    ______________________
  </p>
   </div>

<% if session[:user_id] == c.user_id %>
<form action="/posts/<%=@the_post.id%>/comments/<%=c.id%>/edit">
    <input type="submit" value="Edit comment">
</form>
<!-- <p><a href="/posts/<%=@the_post.id%>/comments/<%=c.id%>/edit">Edit my comment</a></p> -->
<form action='/posts/<%=@the_post.id%>/comments/<%=c.id%>/delete' method='post'>
  <input type='hidden' name='_method' value='delete'/>
  <input type='submit' value='Delete my comment'>
</form>
<% end %>
<% end %>
</div>



