<div class="container">

<% if session[:user_id] == @the_post.user_id %>

<h1> Edit your rental information </h1>



<form action='/posts/<%=@the_post.id%>' method='post'>
  <input type='hidden' name='_method' value='put'/>
  <input type='text' name='title' value='<%=@the_post.title%>'/><br>
  <input type='text' name='price' value='<%=@the_post.price%>'/><br>
  <input type='text' name='location' value='<%=@the_post.location%>'/><br>
  <input type='text' name='description' value='<%=@the_post.description%>'/><br>
  <input type="text" name="startdate" value='<%=@the_post.start_date%>'/><br>
  <input type="text" name="enddate" value='<%=@the_post.end_date%>'/><br>
  <input type="text" name="photourl" value='<%=@the_post.photo_url%>'/><br>
  <input type='submit' value='Update your post'/>
</form>

<% else %>

<div class="sorry"> Sorry, you can only edit your own posts!
<p><a href="/posts">Return to list of posts</a></p>
</div>

<% end %>


</div>