<div class="container">
<div class="header"></div>

<h1><%= @the_post.title %> </h1>

Created by: <%= @the_post.user.first_name %> <%= @the_post.user.last_name %>

<p>Location: <%= @the_post.location %></p>

<p><em>Available: <%= @the_post.start_date %> to <%= @the_post.end_date %> </em></p>

<p>Price: $<%= @the_post.price %> per day.</p>

<p><img src="<%=@the_post.photo_url%>"/></p>

<p> <%= @the_post.description %> </p>


<p> Interested?
<br>Comment below, or email <%= @the_post.user.first_name %> at: <em><%= @the_post.user.email %></em> </p>

<p><a href="/posts/<%=@the_post.id%>/edit">Edit my post</a></p>
<form action="/posts/<%=@the_post.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete my post"/>
</form>

<%= erb :"comment/index" %>



<div class="footer"></div>
</div>