<div class="container">
<div class="header"></div>

<h1><%= @the_post.title %> </h1>
Location: <%= @the_post.location %>
<p><em>Available: <%= @the_post.start_date %> to <%= @the_post.end_date %> </em></p>
<p>Price: $<%= @the_post.price %> per day.</p>

<p> <%= @the_post.description %> </p>
by: <%= @the_post.user.first_name %> <%= @the_post.user.last_name %>

<p> Interested?
<br>Comment below, or email <%= @the_post.user.first_name %> at: <em><%= @the_post.user.email %></em> </p>








<div class="footer"></div>
</div>