

<div class="mainbody_usershow">


<center><img src="<%=@the_user.photo_url %>"/> </center>

<p> <b>First name:</b> <%= @the_user.first_name %> </p>
<p> <b>Last name:</b> <%= @the_user.last_name %> </p>
<p> <b>Age:</b> <%= @the_user.age %> </p>
<p> <b>Description:</b> <%= @the_user.description %> </p>
<p> <b>Languages:</b> <%= @the_user.language %> </p>

<% @the_user.posts.each do |p| %>
<p><a href="/posts/<%=p.id %>">View their post <%=p.id %> </a></p>
<% end %>
