

<div id="userinfo">


  <h2> <%= @the_user.first_name.titleize %> <%= @the_user.last_name.titleize %> </h2>
    <p><b><%= @the_user.age %> years old </b></p>
 <img src="<%=@the_user.photo_url %>"/>

  <div id="user_des">
    <br>
      <p><em>Languages spoken:</em> <%= @the_user.language %> </p>
      <p><em>Social Media:</em> Checkout out <a href="<%= @the_user.facebook_url %>">their facebook</a></p>

      <% @the_user.posts.each do |p| %>
      <em>View their post:</em> <a href="/posts/<%=p.id %>"> <%=p.title %>- </a>
      <% end %>
    </div>

    <div id="user_realdes">
        <p>  " <%= @the_user.description %>  "</p>
    </div>

<div id="user_xtrades">

      <% if session[:user_id] == @the_user.id %>
      <form action="/user/<%=@the_user.id%>/edit">
        <input type="submit" value="Edit my profile"/>
      </form>
      <br>
      <form action="/user/<%=@the_user.id%>/delete" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="Delete my profile"/>
      </form>

    <% end %>

      <br><a href="/posts"> Return to posts </a>

  </div>

</div>


