

<div id="userinfo">
  <h2> <%= @the_user.first_name.titleize %> <%= @the_user.last_name.titleize %> </h2>
    <p><%= @the_user.age %> years old </p>
 <img src="<%=@the_user.photo_url %>"/>

  <div id="user_des">
    <br>
    <ul>
      <li><p> <b>Languages spoken:</b> <%= @the_user.language %> </p></li>
      <li><p> Checkout out <b><a href="<%= @the_user.facebook_url %>">their facebook</a></b></p></li>

      <% @the_user.posts.each do |p| %>
      <li>View their post: <a href="/posts/<%=p.id %>"> <em><%=p.title %></em> - </a></li>
      <% end %>
      </ul>
    </div>

    <div id="user_realdes">
        <p>  " <%= @the_user.description %>  "</p>
    </div>

<div id="user_xtrades">

      <% if session[:user_id] == @the_user.id %>
      <form action="/user/<%=@the_user.id%>/edit">
        <input type="submit" value="Edit my profile"/>
      </form>
<!--       <p><a href="/user/<%=@the_user.id%>/edit">Edit my profile</a></p> -->
      <form action="/user/<%=@the_user.id%>/delete" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="Delete my profile"/>
      </form>

    <% end %>

  </div>

  <p><a href="/posts"> Return to posts </a></p>
</div>


